@font-face {
    font-family: SF Pro Display;
    src: url("./assets/FontsFree-Net-SFProDisplay-Regular.ttf");
  }
  
  * {
      margin: 0;
      padding: 0;
      font-family: SF Pro Display;
  }
  
  html {
      font-size: 62.5%;
      
  }
  
  a {
      text-decoration: none;
  }
  
  body {
      background-color: rgba(12, 12, 12, 1);
      height: 100vh;
      width: 100vw;
      color: white;
  }
  
  #fullpage {
      width: 100%;
      height: 100%;
  }
  .section {
    width: 100%;
    height: 100%;
    text-align: center;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{ 
    display: none;
}

/* Navbar */

nav{
  background-color: #111111;
  display: flex;
  
  /* padding: 10px 40px 0px; */
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 24px;
  z-index: 1;
  /* Changed position and width for fullpage.js */
  position: fixed;
  
  width: 1079px;
height: 44px;
left: 101px;
top: 30px;
  
}
/* .nav-logo
{
  margin: 10px;
  width: auto;
  height: 7vh;
  left: -13px;
  top: -9px;
  clip: rect(0px,20px,0px,0px);
}
.nav-logo-2
{
  display: none;
} */
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style:none;
  display:inline-block;
  padding: 8px 24px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  letter-spacing: 0.06em;
  line-height: 29px;
  text-decoration: none;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  transition: color .1s;

}
.nav-links ul li a:hover {
  color: #3E74FF;
  
}
nav .fa{
  display: none;
}
.navbar-image
{
    display: none;
}
/* responsive_code_nav_bar*/
@media(max-width:1291px) 
{
  
 /* .nav-logo-2
{ 
  margin: 25px;
  margin-left: 0px;
  width: auto;
  height: 7vh;
  left: -10.43px;
  top: -7.22px;
  display: block;
 
} */
.nav-links ul li{
  display:block;
  padding-bottom: 50px;
}


.nav-links{
  position: absolute;
  background-color: #111111;
  background-image: url("./assets/navbar_background_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  height:100vh;
  width:400px;
  top: 0;
  right: -400px;
  text-align: left;
  z-index:2;
  
  
}
  nav .fa{
  display: block;
  color: #fff;
  margin: 20px;
  font-size: 22px;
  cursor: pointer;
  
}
.nav-links ul{
  padding: 40px;
  line-height: 29px;
}

}
@media(max-width:1024px) 
{
  .nav-links ul li a{
    font-size: 28px;
  }
}
@media(max-width:1000px) 
{
  .nav-links ul li a{
    font-size: 24px;
  }
}

@media(max-width:770px) 
{
  

.nav-links ul li{
  display:block;
  padding-bottom: 30px;
}

.nav-links{
  position: absolute;
  background-color: #111111;
  background-image: url("./assets/navbar_background_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  height:100vh;
  width:317px;
  top: 0;
  right: -317px;
  text-align: left;
  z-index:2;
  line-height: 29px;
  
}
nav .fa{
 display: block;
  color: #fff;
  margin: 20px;
  font-size: 22px;
  cursor: pointer;
  
}
.nav-links ul{
  padding: 40px;
}

}
@media(max-width:400px) 
{
  
.nav-links ul li{
  display:block;
  padding-bottom: 15px;
}
.nav-links ul li a{
  font-size: 18px;
}

.nav-links{
  position: absolute;
  background-color: #111111;
  background-image: url("./assets/navbar_background_img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
  height:100vh;
  width:200px;
  top: 0;
  right: -200px;
  text-align: left;
  z-index:2;
  line-height: 29px;
   
}
nav .fa{
 display: block;
  color: #fff;
  margin: 20px;
  font-size: 22px;
  cursor: pointer;
  
}
.nav-links ul{
  padding: 10px;
}

} 
.fullpage-container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}  
/* portfolio section */
